<!doctype html>
<html>
<head>
  <title>My Projects</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <main>
    <h1>My Projects</h1>
    <section>
      <h2>Work projects</h2>
      <h3>Vim@Google</h3>
      <div>
        <p>
          Plugins for using different developer tools in vim (code formatters, bazel build tool,
          etc.), as well as a literate testing tool
          (<a href="https://github.com/google/vroom" target="_blank">vroom</a>) and a tool to
          generate formatted help files for plugins from inline doc comments
          (<a href="https://github.com/google/vimdoc" target="_blank">vimdoc</a>).
        </p>
        <p>
          See projects at
          <a href="https://github.com/orgs/google/teams/vim/repositories"
             target="_blank">GitHub google vim team</a> and
          <a href="https://github.com/orgs/bazelbuild/teams/vim/repositories"
             target="_blank">Github bazelbuild vim team</a>.
        </p>
      </div>
    </section>
    <section>
      <h2>Fun stuff</h2>
      <h3>Coding with kids</h3>
      <p>
        I’m passionate about teaching kids to wield technology and giving them those “aha!” moments.
        For several years I’ve taught coding enrichments at <a href="https://www.discoveryk8.org/"
          target="_blank">Discovery Charter School's</a> Falcon Campus using code.org and Scratch,
        giving each child in the class hands-on time with the tools and individual guidance.
      </p>
      <p>
        I’ve also built fun projects with my own children using Scratch. (Links coming soon.)
      </p>
    </section>
    <section>
      <h2>Community</h2>
      <ul>
        <li>GitHub &mdash; See my development activity on
          <a href="https://github.com/dbarnett" target="_blank">my GitHub profile</a>.</li>
        <li> StackOverflow &mdash;
          <a href="https://stackoverflow.com/users/307705/mu-mind?tab=profile"
             target="_blank">Top 4% overall reputation</a> on the site for my technology questions
          &amp; answers.</li>
      </ul>
    </section>
  </main>
</body>
</html>
